:root{
    --max-width-size: 1920px;
    --main-color: #444444;
    --second-color: #fdfdfd;
    --third-color: #ff6f00;
    --fourth-color: #b88660;
    --fifty-color: #cec3ba;
    --details-color: #f4b6b6;
    --details-color-2: #f4cab6;
    --font-color: #a38268;
    --grey: #7e7c7c75;
}